$mainColor: #a8dcc4;
$mainColorHover: desaturate(darken($mainColor, 6%), 2%);
$highlightColor: darken($mainColorHover, 20%);

$mainFontColor: #3b3e4d;

$invalid: desaturate(lighten(red, 4%), 16%);
$disabled: #dadada;

$formSepWidth: 0.48em;
