@import "variables";

#align {
    form {
        grid-gap: 0.5em;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        label {
            grid-column: 1/3;
        }
    }
}
