main {
    flex: 1;
    scroll-behavior: smooth;

    > section {
        position: relative;
        background: white;
        &:nth-child(even) {
            background: #f7f7f7;
            &:not(:first-of-type) {
                &::after {
                    background: white;
                }
            }
        }
        &:not(:first-of-type) {
            &::before {
                content: "";
                position: absolute;
                height: 4px;
                top: 0;
                width: 100%;
                left: 0;
                background: #ebebeb;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
            }
            &::after {
                content: "";
                position: absolute;
                z-index: 1;
                top: -15px;
                left: calc(50% - 18px);
                width: 36px;
                height: 36px;
                transform: rotate(45deg);
                background-color: #f7f7f7;
                border-bottom: 4px solid #ebebeb;
                border-right: 4px solid #ebebeb;
                border-radius: 0 0 6px 0;
                pointer-events: none;
                box-shadow: 0 0 48px rgba(0, 0, 0, 0.12);
            }
        }
        &:nth-of-type(1) {
            z-index: 100;
        }
        &:nth-of-type(2) {
            z-index: 10;
        }
        &:nth-of-type(3) {
            z-index: 1;
        }
        > .content {
            max-width: 1024px;
            margin: 0 auto;
            padding: 1em;
        }
    }
}
