@import "variables";

.astred-viz {
    .sentence {
        &.tgt {
            margin-bottom: 8px;
        }
    }
    rect {
        stroke-width: 2px;
        fill: none;
    }
    .seqGroups {
        line,
        rect {
            stroke: $mainColor;
        }
    }
    .sacrGroups {
        line,
        rect {
            stroke: $mainFontColor;
        }
    }
}

.has-overlayed-lines {
    .alignments {
        line {
            stroke: #ccc;
            stroke-dasharray: 4;
        }
    }
}
