@import "variables";

#page-header {
    h1 {
        margin-bottom: 0;
    }
    p {
        font-size: 1.25em;
        color: #555;
        margin: 0;
    }
    span {
        display: inline-block;
        position: relative;
        color: #f5f5f5;
        margin-left: 0.4em;
        &::before {
            content: "";
            background: $mainFontColor;
            position: absolute;
            top: -4%;
            left: -3%;
            height: 108%;
            width: 106%;
            z-index: -1;
        }
    }
}
