#introduction {
    > .content {
        padding-top: 1em;
    }

    .languages {
        font-weight: 700;
    }
    
    .publications {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-template-rows: auto;
        grid-gap: 0.85em;
        font-size: 0.85em;
    }
    
}
