#tokenize {
    form {
        > div {
            display: flex;
            align-items: center;
            margin-bottom: 0.36em;
            label {
                margin-left: 0.36em;
                &:first-child {
                    margin-left: 0;
                    flex: 1;
                }
            }
        }
    }
}
