@import "variables";

#tokenize {
    form {
        grid-gap: 0.5em;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr auto;
        > input[type="submit"] {
            grid-column: 1/3;
        }
    }
}
